<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form th:action="@{/admin/edit}" th:object="${edituser}" method="post">
  <input th:field="*{id}" type="hidden"  th:value="${edituser.getId()}">
  <p>Данные пользователя</p>
  <p>
    <label>Имя</label>
    <input th:field="*{username}" type="text"  th:value="${edituser.getUsername()}">
    <br/>
  </p>
  <p>
    <label >Фамилия</label>
    <input th:field="*{lastname}" type="text"  th:value="${edituser.getLastname()}">
    <br/>
  </p>
  <p>
    <label >Возраст</label>
    <input th:field="*{age}" type="text"  th:value="${edituser.getAge()}">
    <br/>
  </p>
  <p>
    <label >Адресс</label>
    <input th:field="*{email}" type="text"  th:value="${edituser.getEmail()}">
    <br/>
  </p>
  <p>
    <label >Пароль</label>
    <input th:field="*{password}" type="text"  th:value="${edituser.getPassword()}">
    <br/>
  </p>
  <p>
    <label>Roles:
      <input type="checkbox" name="roles"
             th:each="role : ${rolles}"
             th:text="${role.name}"
             th:value="${role.id}"
             th:field="*{roles}"
      />
    </label>
    <br/>
  </p>
  <button type="submit">Изменить данные</button>
</form>
</body>
</html>