<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>

    <script type="text/javascript" src="/static/js/app.js" >

    </script>


</head>
<body>
<h1 id="Well">!</h1>
<!--<p th:text="${principal1}"></p>-->
<!--<div th:insert="~{logout :: copy}"></div>-->
<!--<a href="/user">Для User</a>-->
<!--<a href="/admin/new">Создать нового пользователя</a>-->

</body>

</html>