<body>
<div>
    <table>
        <tr>
            <th>Id</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Возраст</th>
            <th>Email</th>
            <th>Роль</th>

        </tr>
        <tr>
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getUsername()}"></td>
            <td th:text="${user.getLastname()}"></td>
            <td th:text="${user.getAge()}"></td>
            <td th:text="${user.getEmail()}"></td>
            <td th:text="${user.getRoles()}"></td>
            <td>
        </tr>
    </table>
    <br>



</div>
<div th:insert="~{logout :: copy}"></div>
</body>
</html>